
/* ------------------------------------- NOTES SECtion --------------------- */
.right{
    width: 270px;
  }
  .notes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .notes input,
  textarea {
    border-radius: 5px;
    border: none;
    padding:8px 10px;
    outline: none;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 73, 110, 0.1);
  }
  
  .notes button {
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    background: #fff;
    border: 2px solid #00496e;
    border-radius: 8px;
    padding: 5px 12px;
    font-size: 0.8rem;
    color: #000000;
    width: 30%;
    position: relative;
    left: 70%;
  }
  
  .notes button:hover {
    background-color: #00496e;
    color: #fff;
  }
  
  #noteList h4,
  p {
    margin: 5px 0 5px 0;
    font-size: smaller;
  }
  
  #noteList button {
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 3px 7px;
    color: #000000;
    width: 30%;
    margin-top: 10px;
    position: relative;
    left: 40%;
  }
  
  #noteList button:hover {
    background-color: #00496e;
    color: #fff;
  }
  /* --------------------------- */
  .note{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 73, 110, 0.1);
  }
  
  .note-title{
    display: flex;
    justify-content: space-between;
  }
  
  .note-title p{
    font-weight: 600;
  }
  
  .content{
    margin-bottom: 10px;
  }
  
  .note-btns{
    display: flex;
    justify-content: space-between;
  }
  
  .note-btns button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: large;
    padding: 5px;
    border-radius: 5px;
  }
  
  .note-btns button:hover {
    background-color: #00496e;
    color: #fff;
  }